/* This file contains css for the App */

form {
  /* border: 1px solid red; */
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 4px;
}

form input {
  flex-basis: 70%;
  border: none;
  outline: none;
  padding: 12px;
  font-size: 18px;
  border-radius: 6px;
}

button {
  flex-basis: 30%;
}

.todoList {
  width: 500px;
  margin: auto;
}

.todoList ul {}

.todoList ul li {
  list-style: none;
  background: #a19e9e;
  color: white;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 18px;
  border-radius: 6px;
  position: relative;
}

.todoList ul li span {
  position: absolute;
  right: 20px;
  bottom: 8px;
  cursor: pointer;
  font-size: 28px;
}

.completeTodo {
  text-decoration: line-through;
  /* color: red !important; */
}