*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  margin-left: 30px;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
}